/* * {
  box-sizing: border-box;
}

body {
  font-family: serif;
  margin: 0;
}

nav {
  display: flex;
  background: rgba(19, 15, 15, 0.952);
  color: white;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  padding: 2em;
}

a {
  text-decoration: none;
  font-weight: 500;
  color:  rgba(201, 89, 191, 0.87)
}

a:hover {
  color: rgb(124, 124, 189)
}
 */
